*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
sensors.yaml
*.conf
plex.conf
phue.conf
harmony_living_room.conf
harmony_bedroom.conf
pyozw.sqlite
.*
!/.gitignore
!/configuration.yaml